:root {
/*Light Blue AS 092322*/
--color1:#E1ECF9;
/*Sky Blue*/
--color2:#609CE1;
/*Mid Blue*/
--color3:#236AB9;
/*Dark Blue*/
--color4:#133863;
/*Darkest Blue*/
--color5:#091D34;
}

* {
  box-sizing: border-box;
}

/* Banner Style */
.banner {
  background-color: var(--color3);
  text-align: center;
  height: 200px;
  width: relative;
}

/* Setting up the profile photo location*/

.profilePhoto {
  height: 200px; 
  width: 200px;
}

/* Nav Bar Styling */

/*Styling the top navigational bar*/
.topnav {
  background-color: var(--color2);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Styling the Body */
body {
    background-color: var(--color1);
    font-family: Verdana;
}

article {
  float: left;
  padding: 20px;
  width: 85%;
  height: 300px;
}

nav {
  float: left;
  padding: 20px;
  width: 15%;
  background-color: var(--color3);
  height: 300px;
}

nav ul {
  list-style-type: none;
  padding: o;
}

.disclaimer {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color5);
    color: white;
    text-align: center
}

